html {
  height: 100%;
  width: 100%;
  cursor: url('handside32.png'), default;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: url('handup32.png'), auto;
}

body.index {
  background: url(https://img.freepik.com/free-photo/white-stained-textured-paper-background_53876-101815.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body::-webkit-scrollbar {
   display: none;
}

nav {
  padding: 10px;
}

/* Fonts */

/* disney font */
@font-face {
  font-family: 'disney';
  src: url(NewWaltDisneyFontRegular-BPen.ttf);
}

.disneyfont {
  font-family: 'disney';
}
/* end */

/* magic font */
@font-face {
  font-family: 'magic';
  src: url(MagicEnglish-YzwRq.ttf);
}

.magicfont {
  font-family: 'magic';
}
/* end */

/* lilo and stitch font */
@font-face {
  font-family: 'lilo';
  src: url(BukaBird.ttf);
}

.lilonstitch{
  font-family: 'lilo';
}
/* end */

/* tangled font */
@font-face {
  font-family: 'frozen';
  src: url(Frozito-eZ99g.ttf);
}

.frozen{
  font-family: 'frozen';
}
/* end */

/* monsters inc font */
@font-face {
  font-family: 'monstersinc';
  src: url(MonsterAg-MADn.ttf);
}

.monstersincfont{
  font-family: 'monstersinc';
}
/* end */

/* finding nemo font */
@font-face {
  font-family: 'nemo';
  src: url('LostFish-5DOz.ttf');
}

.nemofont {
  font-family: 'nemo';
}
/* end */

/* finding nemo font two */
@font-face {
  font-family: 'dory';
  src: url('FindetNemo-KVxD.ttf');
}

.doryfont {
  font-family: 'dory';
}
/* end */

/* incredibles font */
@font-face {
  font-family: 'incredibles';
  src: url('TheIncredibles-1jBB.ttf');
}

.incrediblesfont {
  font-family: 'incredibles';
}
/* end */

/* alice in wonderland font*/
@font-face {
  font-family: 'wonderland';
  src: url('AliceInWonderland-z051.ttf');
}

.wonderlandfont {
  font-family: 'wonderland';
}
/* end */

/* inside out font */
@font-face {
  font-family: 'inside';
  src: url('InsideOut-DAp0.ttf');
}

.insideoutfont {
  font-family: 'inside';
}
/* end */

/* inside out lowercase font */
@font-face {
  font-family: 'out';
  src: url('InsideOutLowercase-BA0G.ttf');
}

.insideoutlowercase {
  font-family: 'out';
}
/* end */

/* tangled font */
@font-face {
  font-family: 'tangled';
  src: url('Tangled-2Dav.ttf');
}

.tangled {
  font-family: 'tangled';
}
/* end */

/* End */

/* NAVBAR */
.container-fluid {
  max-width: 100%;
}

.navbar {
  background: transparent;
  --bs-navbar-nav-link-padding-x: 2rem;
}

.navbar-nav {
  --bs-nav-link-color: black;
}

/* paint splatter hover effect */
.red:hover{
  background-image: url("red.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
}

.blue:hover{
  background-image: url("blue.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
}

.green:hover{
  background-image: url("green.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
}

.yellow:hover{
  background-image: url('yellow.png');
  background-position: center;
  background-size: 250px 90px;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
}

/* end of paint splatter hover effect */

/* NAVBAR HAMBURGER ICON */

.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .5s ease-in-out;
  border: 0px;
  outline: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon: focus {
  outline: none;
  box-shadow: none;
  border: 0px;
}

.navbar-toggler span{
  margin: 0px;
  padding: 0px;
}

.toggler-icon-nav {
  display: block;
  position: absolute;
  height: 12%;
  width: 100%;
  background: #fc89ac;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  cursor: url('handup32.png'), auto;
}

.middle-bar-ind{
  margin-top: 0px;
}

/* when clicked */

.navbar-toggler .top-bar-ind {
  margin-top: 0px;
  transform: rotate(135deg);
  cursor: url('handup32.png'), auto;
}

.navbar-toggler .middle-bar-ind {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: url('handup32.png'), auto;
}

.navbar-toggler .bottom-bar-ind {
  margin-top: 0px;
  transform: rotate(-135deg);
  cursor: url('handup32.png'), auto;
}

/* when nav is collapsed */

.navbar-toggler.collapsed .top-bar-ind {
  margin-top: -25px;
  transform: rotate(0deg);
  background-color: black;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler.collapsed .middle-bar-ind{
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: yellow;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler.collapsed .bottom-bar-ind {
  margin-top: 25px;
  transform: rotate(0deg);
  background-color: red;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    cursor: url('handup32.png'), auto;
}
/* END OF HAMBURGER ICON */

/* Font Styling */
.name {
  font-size: 3.5rem;
}

.size {
  font-size: 2.5rem;
}

/* END OF NAV BAR */

/* index styling */
h1.navtitle {
  font-size: 4rem;
  font-family: 'magic';
  padding: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.breakmystuff {
  display: none;
}

.white {
  background-color: #b57edc;
  border-radius: 10%;
  width: 700px;
  height: 600px;
  margin: auto;
}

.img {
  background-repeat: no-repeat;
  width: fit-content;
  margin: auto;
  background-size: cover;
  background-position-y: center;
  padding: 10px;
  position: relative;
}

#paint-right {
  position: relative;
  margin-bottom: 10px;
}

.paintleft {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

img.picofmee{
  height: 65%;
  width: 45%;
  border-radius: 10%;
  position: relative;
  left: 3%;
  top: 3%;
  float: left;
  margin-bottom: 3%;
  margin-right: 4%;
}

p {
  padding: 20px;
  font-size: 1.62rem;
  color: white;
}

.leftmick {
  position: absolute;
  left: 2.5%;
  height: 300px;
  width: 300px;
  margin-top: 3%;
  /*  change width and height later!  */
  transform: rotate(340deg);
}

.rightmicktop {
  position: absolute;
  right: 2.5%;
  height: 300px;
  width: 300px;
  /*  change width and height later!  */
  margin-top: 20%;
  rotate: 10deg;
}

.leftmicktopone {
  position: absolute;
  left: 1%;
  height: 300px;
  width: 300px;
  /*  change width and height later!  */
  margin-top: 45%;
  rotate: 20deg;
}

.rightmicktopone {
  position: absolute;
  right: 1%;
  height: 300px;
  width: 300px;
  /*  change width and height later!  */
  margin-top: 60%;
  rotate: 345deg;
}

.mickey {
  width: 90%;
  height: 80%;
  position: relative;
}

/* end of index styling */

/* projects styling */
body.projects {
  background-color: black;
}

/* hover effect */
.minnie {
  color: white;
}

.minnie:hover{
  background-image: url("minniehover.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
  color: white
}
/* end of hover effect */

/* NAVBAR HAMBURGER ICON */

.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .5s ease-in-out;
  border: 0px;
  outline: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon: focus {
  outline: none;
  box-shadow: none;
  border: 0px;
}

.navbar-toggler span{
  margin: 0px;
  padding: 0px;
}

.toggler-icon-proj {
  display: block;
  position: absolute;
  height: 12%;
  width: 100%;
  background: #f3b9cb;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  cursor: url('handup32.png'), auto;
}

.middle-bar-proj{
  margin-top: 0px;
}

/* when clicked */

.navbar-toggler .top-bar-proj {
  margin-top: 0px;
  transform: rotate(135deg);
  cursor: url('handup32.png'), auto;
}

.navbar-toggler .middle-bar-proj {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: url('handup32.png'), auto;
}

.navbar-toggler .bottom-bar-proj {
  margin-top: 0px;
  transform: rotate(-135deg);
  cursor: url('handup32.png'), auto;
}

/* when nav is collapsed */

.navbar-toggler.collapsed .top-bar-proj {
  margin-top: -25px;
  transform: rotate(0deg);
  background-color: #f3b9cb;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler.collapsed .middle-bar-proj {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #f3b9cb;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler.collapsed .bottom-bar-proj {
  margin-top: 25px;
  transform: rotate(0deg);
  background-color: #f3b9cb;
  border-radius: 10px;
  cursor: url('handup32.png'), auto;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    cursor: url('handup32.png'), auto;
}
/* END OF HAMBURGER ICON */

/* overall box styling */
#cont-2 {
  margin: 0;
  padding: 0;
}

.projtitle {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.animate__animated.animate__tada.animate__delay {
  --animate-duration: 5s;
}

.padding {
  padding: 5px;
}

.para {
  width: 50%;
  height: fit-content;
}

.website {
  width: 40%;
  height: fit-content;
  display: inline;
  margin: auto;
  margin-bottom: 10px;
  margin-top: -5%;
  position: relative;
  text-align: center;
  padding: 0;
}
/* end of overall box styling */

/* lilo and stitch styling */
.boxone{
  max-width: 100%;
  height: auto;
  background-image: url('lilo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
}

.bgone {
  font-size: 4rem;
  background-color: white;
  color: red;
  border-radius: 50%;
  width: fit-content;
  padding: 20px;
  margin: 10px;
}

.lil {
  font-size: 2.6rem;
  color: red;
  padding: 10px;
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  margin-bottom: 10px;
}

.dior {
  height: auto;
  width: 100%;
  border-radius: 7%;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.overlayone {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlayone {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.website:hover > img.blurone {
  filter: blur(10px);
}

.dior:hover {
  cursor: url('handup32.png'), auto;
}

.titleone {
  color: red;
  width: 40%;
  text-align: center;
}

/* end of lilo and stitch styling */

/* frozen styling */
.boxtwo {
  max-width: 100%;
  height: auto;
  background-image: url('frozenback.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.froyo {
  font-size: 4rem;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: rgba(0,0,156,0.4);
  border-radius: 20px;
  margin-bottom: 20px;
}

.fro {
  font-size: 2.6rem;
  color: white;
  background-color: rgba(0,0,156,0.4);
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 5px;
}

.overlaytwo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(124,221,255,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlaytwo {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titletwo {
  color: #000080;
}

/* end of frozen styling */

/* monsters inc styling */
.boxthree {
  max-width: 100%;
  height: auto;
  background-image: url('WallpaperDog-17257651.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
}

.inc {
  font-size: 3.8rem;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: rgba(64,224,208,0.7);
  border-radius: 20px;
}

.mons {
  color: white;
  font-size: 2.6rem;
  background-color: rgba(64,224,208,0.7);
  border-radius: 20px;
  padding: 5px;
}

.overlaythree {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(232,244,140,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlaythree {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titlethree {
  color: #7761B6;
}

/* end of monsters inc styling */

/* nemo styling */
.boxfour {
  max-width: 100%;
  height: auto;
  background-image: url('nemo.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
}

.nemooo {
  font-size: 3rem;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  color: white;
  text-align: center;
  background-color: rgba(4,22,144,0.7);
  border-radius: 20px;
}

.doryyy {
  color: white;
  font-size: 2.6rem;
  background-color: rgba(4,22,144,0.7);
  border-radius: 20px;
}

.overlayfive {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,139,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlayfive {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titlefive {
  color: #a4dded;
}

/* end of nemo styling */

/* incredibles styling */
.boxfive {
  max-width: 100%;
  height: auto;
  background-image: url('increds.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
}

.overlayfour {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(239,48,56,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlayfour {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titlefour {
  color: white;
}

.incredz {
  color: white;
  font-size: 4rem;
  background-color: rgba(239,48,56,0.7);
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.diblez {
  font-size: 2.6rem;
  color: white;
  padding: 10px;
  background-color: rgba(239,48,56,0.7);
  border-radius: 10px;
  margin-bottom: 10px;
}
/* end of incredibles styling */

/* alice in wonderland styling */
.boxsix{
  max-width: 100%;
  height: auto;
  background-image: url('alicewonder.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
  bottom: 0;
}

.overlayseven {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26,17,16,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlayseven {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titleseven {
  color: #45b1e8;
}

.wonderland {
  color: white;
  font-size: 4rem;
  background-color: rgba(0,0,0,0.7);
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.alice {
  color: white;
  font-size: 2.6rem;
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  margin-bottom: 10px;
}

/* end of alice in wonderland */

/* inside out styling */
.boxseven{
  max-width: 100%;
  height: auto;
  background-image: url('dd8544y-1f8e557d-438b-4fee-abed-b07454d237ae.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
  bottom: 0;
}

.overlaysix {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(153,102,204,0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:1s ease;
  border-radius: 7%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.website:hover .overlaysix {
  height: 100%;
  cursor: url('handup32.png'), auto;
}

.titlesix {
  color: #fcc200;
}

.inside {
  color: white;
  font-size: 4rem;
  background-color: rgba(254,254,34,0.7);
  width: fit-content;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.out {
  font-size: 2.6rem;
  color: white;
  padding: 10px;
  background-color: rgba(254,254,34,0.7);
  border-radius: 10px;
  margin-bottom: 10px;
}
/* end of inside out styling */


/* end of projects styling */

/* pictures styling */

body.pictures {
  background-color: #3d1367;
}

.top {
  margin-top: 15px;
}

.index-img img {
  width: 470px;
}

.sizee {
  font-size: 5rem !important;
}


#glowing {
  text-decoration: none;
  background: transparent;
  width: fit-content;
  padding: 0px;
  color: gold;
  animation-name: glow;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  cursor: url('handside32.png'), default;
  margin: auto;
  letter-spacing: 10px;
  font-size: 5vw;
  font-weight: 0;
}

/* glow hover effect */
.glowing {
  text-decoration: none;
  background: transparent;
  font-weight: bold;
  width: fit-content;
  padding: 0px;
  margin: 0px;
  color: gold;
  animation-name: glow;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  cursor: url('handup32.png'), auto;
}

.glowing:hover{
  border: 0px;
  border-radius: 10px;
  width: fit-content;
  padding: 0px;
  margin: 0px;
  color: white;
  cursor: url('handup32.png'), auto;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
  }
  to {
    text-shadow:
    0 0 12px rgba(255, 255, 255, 0.5),
    1px 0 12px rgba(255, 255, 255, 0.5),
    0 1px 12px rgba(255, 255, 255, 0.5),
    1px 1px 12px rgba(255, 255, 255, 0.5);
  }
}
/* END OF HOVER EFFECT */

/* NAVBAR HAMBURGER ICON */

.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .5s ease-in-out;
  border: 0px;
  outline: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon: focus {
  outline: none;
  box-shadow: none;
  border: 0px;
}

.navbar-toggler span{
  margin: 0px;
  padding: 0px;
}

.toggler-icon-pic {
  display: block;
  position: absolute;
  height: 12%;
  width: 100%;
  background: gold;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar-pic{
  margin-top: 0px;
}

/* when clicked */

.navbar-toggler .top-bar-pic {
margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar-pic {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar-pic {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* when nav is collapsed */

.navbar-toggler.collapsed .top-bar-pic {
  margin-top: -25px;
  transform: rotate(0deg);
  background-color: gold;
  border-radius: 10px;
}

.navbar-toggler.collapsed .middle-bar-pic{
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: gold;
  border-radius: 10px;
}

.navbar-toggler.collapsed .bottom-bar-pic {
  margin-top: 25px;
  transform: rotate(0deg);
  background-color: gold;
  border-radius: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* END OF HAMBURGER ICON */

/* end of pictures styling */

/* friend and fam styling */

.f_f {
  background-image: linear-gradient(black, navy, lightblue, lightpink, hotpink, orchid, purple);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.name-ff {
  color: #ff2281;
}

.size-one {
  color: #09fbd3;
}

.size-two {
  color: #b8fb3c;
}

.size-three {
  color: #b76cfd;
}

.mickwhiteone:hover{
  background-image: url("mickwhite.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
  color: #b8fb3c;
}

.mickwhitetwo:hover{
  background-image: url("mickwhite.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
  color: #b76cfd;
  ;
}

.mickwhitethree:hover{
  background-image: url("mickwhite.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
  color: #ff2281;
}

.mickwhitefour:hover{
  background-image: url("mickwhite.png");
  background-position: center;
  background-size: contain;
  width: fit-content;
  background-repeat: no-repeat;
  cursor: url('handup32.png'), auto;
  color: #09fbd3;
}

.fftitle{
  color: #b537f2;
  text-align: center;
  margin-bottom: 15px;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;  
  margin-top: 12px;
}
.round {
  border-radius: 30px;
}

.marginleft {
  margin-left: 16%;
}

/* NAVBAR HAMBURGER ICON */

.navbar-toggler {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .5s ease-in-out;
  border: 0px;
  outline: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon: focus {
  outline: none;
  box-shadow: none;
  border: 0px;
}

.navbar-toggler span{
  margin: 0px;
  padding: 0px;
}

.toggler-icon-fam {
  display: block;
  position: absolute;
  height: 12%;
  width: 100%;
  background: #ff2281;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar-fam{
  margin-top: 0px;
}

/* when clicked */

.navbar-toggler .top-bar-fam {
margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar-fam {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar-fam {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* when nav is collapsed */

.navbar-toggler.collapsed .top-bar-fam {
  margin-top: -25px;
  transform: rotate(0deg);
  background-color: #ff2281;
  border-radius: 10px;
}

.navbar-toggler.collapsed .middle-bar-fam{
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #ff2281;
  border-radius: 10px;
}

.navbar-toggler.collapsed .bottom-bar-fam {
  margin-top: 25px;
  transform: rotate(0deg);
  background-color: #ff2281;
  border-radius: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* END OF HAMBURGER ICON */
/* end of friend and fam styling */


/* INDEX RESPONSIVENESS */
@media only screen and (max-width: 1043px) {
  #paint-right {
    width: 50%;
  }

  .paintleft {
    width: 50%;
  }

  .navtitle {
    font-size: 3px;
  }

  .white {
    width: 60%;
    height: 50%;
  }

  p {
    font-size: 1.5rem;
    padding: 20px;
  }

  img.picofmee {
    height: 50%;
    width: 35%;
    margin-top: 2%;
  }

  .sizee {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 902px) {
  .picofmee {
    margin-top: 2%;
  }

  p {
    font-size: 1.2rem;
  }

  .sizee {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 726px) {
  .picofmee {
    margin-top: 2%;
  }

  p {
    font-size: 1rem;
  }

  .img {
    justify-content: center;
  }

  .navtitle {
    font-size: 2.5rem !important; 
  }
  
  .anything {
    width: 70%;
  }

  .breakmystuff {
    display: block;
  }
}

@media only screen and (max-width: 592px) {
  .picofmee {
    margin-top: 3%;
    margin-left: 1%;
  }

  p {
    font-size: 0.9rem;
  }

  .white {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 1250px) {
  .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 240px;
    width: 240px;
  }

  .leftmicktopone {
    left: -1%;
  }

  .rightmicktop, .rightmicktopone {
    right: -1%;
  }

  .rightmicktopone {
    margin-top: 70%;
  }
}

@media only screen and (max-width: 1128px) {
  .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 220px;
    width: 220px;
  }

  .leftmick {
    margin-top: 40%;
  }

  .rightmicktop {
    margin-top: 50%;
  }

  .leftmicktopone {
    margin-top: 80%;
  }

  .rightmicktopone {
    margin-top: 95%;
  }
}

@media only screen and (max-width: 907px) {
   .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 815px) {
   .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 180px;
    width: 180px;
  }
}

@media only screen and (max-width: 688px) {
   .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 549px) {
   .leftmick,
  .rightmicktop,
  .leftmicktopone,
  .rightmicktopone {
    height: 100px;
    width: 100px;
  }

  .rightmicktopone {
    margin-top: 100%;
  }
}
/* END OF INDEX RESPONSIVENESS */

@media only screen and (max-width: 1092px) {
  .website {
    margin-top: -2%;
  }

  .lil, .fro, .mons, .diblez, .doryyy, .out, .alice {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 940px) {
  .website {
    margin-top: 0;
  }

  .lil, .fro, .mons, .diblez, .doryyy, .out, .alice {
    font-size: 2rem;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 843px) {
  .bgone, .froyo, .inc, .incredz, .inside, .wonderland  {
    font-size: 3.5rem;
    margin: auto;
    text-align: center;
  }
  .lil, .fro, .mons, .diblez, .doryyy, .out, .alice {
    font-size: 1.7rem;
    margin-top: 20px;
  }

  .fro {
    margin-top: 10px;
  }

  .website {
    margin-top: 20px;
  }

@media only screen and (max-width: 471px) {
  .lil, .fro, .mons, .diblez, .doryyy, .out, .alice {
    font-size: 1rem;
  }
}
